<!-- <div class="box1">

    <div class="box81">
        <div class="box80" style=" border: 1px solid white;
        border-radius: 19px;
        height: 172px;
        
        box-shadow: 0px 19px 0px #009688;">
             <h2 style="color: #009688;
         margin-top: 17px;
    margin-left: 22px;
    color: #009688;
    letter-spacing: .8px;">Start Searching</h2>
     <p style="    margin-left: 22px;
     margin-top: 10px;">Click here to search for companies using our wide range of filters.</p>
     <button class="btn">
        <span style="font-size: 18px;
        margin-left: 20px;">Explore</span>
        <span style="font-size: 42px;
        margin-right: 2px;" class="material-symbols-outlined">
            arrow_circle_right
        </span>
     </button>
        </div>
    
    </div>

    <div class="box82">
        
            <h2 style="color: #009688;;">Recent Company Searches</h2>
            <div class="box811">
                <p>Please login to see the details.</p>
             <button>LOGIN</button>
             </div>
        
    </div>

    <div class="box83">
        
            <h2>Popular Searches</h2>
            <div class="box811">
                <p>Please login to see the details.</p>
             <button>LOGIN</button>
             </div>
       
    </div>

</div> -->
