<div class="sideBar-box">
 
    <div class="box1">


        <div class="box2">



            <div class="box3">


                <span class="icon material-symbols-outlined">
                login
                </span>

                <span class="para">Login</span>


            </div>



                <div class="box4">

                   <span class="icon2 material-symbols-outlined">
                    arrow_back_ios
                   </span>

                </div>


        </div>





        <div class="box5">

            <h1>Dashboard</h1>

            <div class="box6">

            <p class="first">
              
                <i class="icon3 fa-solid fa-house" style="color: #ffffff;"></i>
                 <span>Dashboard</span> 

            </p>

            <p class="second">
                <span class=" icon4 material-symbols-outlined">
                    search
                </span>

                 <span style="margin-top: 3px;">Company Search</span> 
            </p>



            </div>

            <h1 style="margin-top: 26px;
            letter-spacing: .5px;">Help Videos</h1>

            <div class="box6">

            <p class="first1">
                <span class=" icon5 material-symbols-outlined">
                    live_tv
                </span>

              <span>Videos</span> 

            </p>


            </div>

            
        </div>




















        


    </div>


</div>

