<div class="box1">

   
    <h1>Find A Specific Company or Director or Industry</h1>
    
      

    <div class="box2">

        <div class="box3">
            <span style="position: relative;
                             font-weight: 300;
                             left: 135px;"
                 class="material-symbols-outlined">
                expand_more
                </span>


        <select >
            <option value="Company">Company</option>
            
        </select>

        <input type="text"  placeholder="eg: Tesco Plc ">

        <button>
            <span style="color: white;
            padding-top: 4px;
            font-size: 22px;" class="material-symbols-outlined">
            search
            </span>
        </button>
        </div>
        
                


    </div>


</div>
